.teamCard {
    .teamAvatar {
      width: 100px;
      height: 100px;
    }
    .buttonContainer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        gap: 2px;
    }
    .text {
       text-decoration: none;
    }

    .inputBlock {
      flex: 1
    }
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .LinkText {
    text-decoration: none;
  }